.img {
  width: 200px;
  height: auto;
}
.centre-img {
  display: block;
  margin: 0 auto;
}
.bold-text {font-weight:600}
.heading {
  color: blue;
}
font-style: oblique;
.slanted {
  font-style: oblique;
}
body {
  background-color: lightblue;
}
div {
  border: 2px solid black;
  border-radius: 10px;
}
div {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
}
div {
  padding: 10px 20px;
}